.modal-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: $bgColor;
  position: relative;
  // TODO пвинести всі border в окремий міксін
  &::before {
    content: '';
    border-left: 0.5px solid #949494;
    height: 100%;
    left: 50%;
    position: absolute;
  }

  &__inner {
    display: flex;

    &-block {
      text-align: center;
      width: 50%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      flex-direction: column;

      &--left {
        margin: 0 auto;

        > ul {
          // TODO спозиціонувати нормально
          position: absolute;
          color: #C8C8C8;
          flex-wrap: wrap;
          line-height: 24px;
          text-align: left;
          left: 18%;

          > li {
            font-weight: 500;
            font-size: 50px;
            padding: 26px;

            > a {
              text-decoration: none;
              color: $colorWhite;

              &:hover {
                cursor: pointer;
                color: rgba($colorWhite, 0.5);
              }
            }
          }
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    &-title {
      font-weight: 500;
      font-size: 24px;
      padding-bottom: 24px;
    }

    &-mobile {
      font-weight: 300;
      font-size: 24px;
      padding-bottom: 20px;
    }

    &-email {
      font-size: 20px;
      text-transform: lowercase;
      padding-bottom: 48px;
    }

    &-button {
      font-size: 15px;

      > button {
        padding: 20px;
        background: linear-gradient(56.74deg, #0084FF 16.49%, #2BF6E7 79.83%);
        border-radius: 50px;
        width: 313px;
        border: none;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}
